<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-solid fa-envelope"></i>
      <i class="fa-solid fa-message"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <div class="f-info-brand">&copy;WanderLust Pvt Ltd</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy </a>
      <br />
      <a href="/terms"> Terms & Conditions</a>
    </div>
  </div>
</footer>
